.header {
  display: flex;
  margin: 30px auto 0 auto;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 30px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.cell:first-child {
  border-left: 1px solid black;
}

.row {
  display: flex;
}

.category {
  color: #f9c941;
  background: #56433d;
}
